
/**
 * Game styles
 */
.takkar, .takkar * {
  padding: 0;
  margin: 0;
}
.takkar {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  cursor: none;
}

/**
 * Ball styles
 */
.takkar .ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #d2d2d2;
}
.takkar .enemy {
  display: none;
  top: 30px;
  left: 30px;
}

/**
 * Player styles
 */
.takkar .player {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #415ca9;
}
