
/**
 * Game styles
 */
.takkar, .takkar * {
  padding: 0;
  margin: 0;
}
.takkar {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  cursor: none;
}
.takkar .score {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 50px;
  height: 30px;
  color: #cccccc;
  font-size: 26px;
  text-align: right;
  overflow: none;
}

.takkar .final-score {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  color: #666666;
  font-size: 30px;
  line-height: 55px;
  z-index: 102;
}
.takkar .cover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background-color: #f2f2f2;
  z-index: 101;
}

/**
 * Ball styles
 */
.takkar .ball {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: #c2c2c2;
}
.takkar .enemy {
  display: none;
  top: 30px;
  left: 30px;
  z-index: 50;
}
.gray-grad {
  background-image: radial-gradient(circle farthest-corner at 15px 15px , #f2f2f2 0%, #929292 100%);
}

/**
 * Player styles
 */
.takkar .player {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2687fb;
  z-index: 100;
}
.blue-grad {
  background-image: radial-gradient(circle farthest-corner at 15px 15px , #80e1e1 0%, #2687fb 100%);
}
